* {
  box-sizing: border-box;
  margin: 0 auto;
}

.test {
  display: flex;
  justify-content: center;
}

.test a {
  color: white;
  background-color: darkcyan;
  text-decoration: none;
  display: block;
  text-align: center;
  border-radius: 4px;
  width: 120px;
  padding: 20px;
  margin: 15px;
}

.test a:hover {
  color: white;
  background-color: cadetblue;
  text-decoration: none;
}

.breadcrumb-item + .breadcrumb-item::before 

{
    content: none;
}