body {
  box-sizing: border-box;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}

/*logo*/

.logo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100px;
}

/*Nav bar*/

.breadcrumb {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 70%;
  border-width: 1px;
  border-style: none;
  font-family: Georgia, serif;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: none;
}

.breadcrumb a {
  text-decoration: none;
  color: rgb(37, 35, 35);
}
.breadcrumb a:hover {
  color: rgb(0, 128, 75);
}

.navbarSearch {
  width: 80%;
}

input .form-control {
  width: 80%;
}

.form-inline {
  width: 100%;
}

.form-inline .form-control {
  align-items: flex-end;
  width: 80%;
}
/* premier carousel */
@media screen and (min-width: 480px) and (max-width: 810px) {
  .carousel-inner img {
    height: 500px;
    display: flex;
    flex-wrap: wrap;
  }

  #carouselExampleIndicators {
    margin-bottom: 50px;
  }
}
