.lien{color: white;
}

a{
    color:white;
}

a:hover{
    text-decoration: none;
    color:lightslategray;
}

img.images.card-img{
    height: 150px ;
    width: 150px ;
}
/*index*/
.images {
    height: 150px;
    width: 150px;
}

.a_lien {
    color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.b1 {
    height: 35px;
    width: 85px;
    display: flex;
}