.img {
  height: 600px;
  width: 450px;
}
.text {
  float: right;
}
.container {
  margin: 100px;
  padding: 20px;
}
.card {
  height: 600px;
  width: 450px;
}
.card-header {
  background-color: black;
  font-weight: bold;
  color: white;
}
#b1 {
  border-radius: 5px;
  background-color: black;
  color: white;
}
#a1 {
  border-radius: 5px;
  background-color: black;
  text-align: center;
  color: white;
  height: 30px;
  width: 180px;
}
