{% extends 'base.html.twig' %}

{% block title %}Hello RegistreController!{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('../front/Css/Registration.css') }}" />

{% endblock %}

{% block body %}

    <div>
        <section>
            <article class="login-logout">
                <form method="GET" class="col-lg-6">
                    <fieldset>
                        <legend>Connextion</legend>
                        <div class="form-row form-group">
                            <label for="cp" class="col-lg-4"> Email</label>
                            <input
                                    type="text"
                                    name="cp"
                                    id="cp"
                                    class="form-control col-lg-8"
                                    placeholder="Dupontdupont@Moulinsart.com"
                            />
                        </div>
                        <div class="form-row form-group">
                            <label for="mdp" class="col-lg-4"> Mot de passe</label>
                            <input
                                    type="text"
                                    name="mdp"
                                    id="mdp"
                                    class="form-control col-lg-8"
                                    placeholder="votre mot de passe"
                            />
                        </div>
                    </fieldset>
                    <fieldset>
                        <div class="button-validation">
                            <p>
                                Si vous n'avez pas de compte
                                <a href="{{ path('registre_index') }}">inscrivez-vous</a>!
                            </p>
                            <div class="from-row from-group test">
                                <a href="{{ path('home_index') }}">Connextion</a>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </article>
        </section>
    </div>

{% endblock %}
