{% extends 'base.html.twig' %}

{% block title %}Hello DashboardUserController!{% endblock %}

{% block stylesheets %}

    <link rel="stylesheet" href="../front/Css/Dashbord.css" />

{% endblock %}

{% block body %}
    <section class="container-fluid">
    <div class="nav-btn">Menu User</div>
    <div class="sidebar">
        <div class="nav-dashbord">
            <ul>
                <li class="active"><a href="DashboardUser.html"> Dashboard </a></li>
                <li><a href="DashboardHistory.html">Historique</a></li>
                <li><a href="DashboardNotif.html">Notification</a></li>
                <li>
                    <a href="DashboardSecu.html"
                    >Confidentialité / sécurité</a
                    >
                </li>
            </ul>
        </div>
    </div>
    <div class="container">
        <div class="main-dashbord">
            <h1 class="mt-4">Dashboard User</h1>

            <div class="m-b-25">
                <img
                        src="https://img.icons8.com/bubbles/100/000000/user.png"
                        class="img-radius"
                        alt="User-Profile-Image"
                />
                <div class="file btn btn-lg btn-primary">
                    Change Photo
                    <input type="file" name="file" />
                </div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-head">Nom</div>
                <div class="input-group mb-3">Nom actuelle</div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-head">Email</div>
                <div class="input-group mb-3">Email actuelle</div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-head">Mot de passe</div>
                <div class="input-group mb-3">Mot de passe actuelle</div>
            </div>
            <div class="panel-wrapper">
                <div class="panel-head">Modification du profil</div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <a type="button" href="DashboardSecu.html">
                            Demande d modification
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </section>

{% endblock %}
